<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
	<add key="IsFake" value="1"/>
	<add key="FakePath" value="C:\NDDDFake\"/>
</appSettings>
<!--手順①基本的にアプリケーション名.configでどこからでも見られるようにDomainの直下に配置する。-->
<!--手順②このファイルのプロパティの出力ディレクトリを「コピーしない」から「常にコピーする」にする-->
<!--手順③以下をApp.configに追加-->
<!--<appSettings configSource="NDDD.config">
    </appSettings>-->
